@font-face {
	font-family: "planet_kosmosregular";
	src: url("fonts/plank___-webfont.woff2") format("woff2"),
		url("fonts/plank___-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* specific elements */
html {
	scroll-behavior: smooth;
	height: 100%;
}
#header {
}

#navDiv1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: rgba(234, 82, 111, 1);
}

#icon {
	font-size: medium;
	position: sticky;
	top: 0%;
}

#navUl {
	list-style: none;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 0px;
	align-content: center;
	flex-shrink: 1;
	flex-grow: 1;
	margin: 0px;
}

.navLi a {
	text-decoration: none; /* no underline */
	color: inherit;
}

.navLi a:hover {
	text-decoration: none; /* no underline */
	color: black;
	font-weight: 600;
}

#navDiv2 {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	column-gap: 0.2rem;
}

body {
	font-family: "IBM Plex Mono";
	background-color: rgba(248, 250, 239, 1);
}

.specialFont {
	font-family: "planet_kosmosregular";
}

@media only screen and (max-width: 600px) {
	#navDiv1 {
		font-size: x-small;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size: large;
	}
}
